# Server Configuration
PORT=5002
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=booking_db
DB_USER=postgres
DB_PASSWORD=postgres

# Other Service URLs (Student A, C, D)
FLIGHT_SERVICE_URL=http://localhost:5001
PAYMENT_SERVICE_URL=http://localhost:5003
USER_SERVICE_URL=http://localhost:5004

# Logging
LOG_LEVEL=info